.headingFont{
    font-family: 'Urbanist' !important;
    font-style: normal;
    font-weight: 700 !important;
    color: white;
  }

.secondFont{
  font-family: 'Urbanist' !important;
  font-style: normal;
  font-weight: 400!important;
  color: white;
}
.forImages{
  object-fit: contain !important;
  width: 100%;
  height: 100%;
}
.forGifsIntro{
  object-fit: contain !important;
}